header {
    width: 100%;
}

header > :not(.navbar) {
    max-width: 1920px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #E76C1F;
    padding: 48px max(16px, calc((100vw - 1920px) / 2 + 16px)) 24px;
}

.navbar button {
    filter: invert();
}

.navbar-toggler:hover {
    filter: brightness(3);
}

.headerImage img {
    height: 480px;
    width: 100%;
    object-fit: cover;
    object-position: 100% 25%;
    max-width: 1920px;
}

.roundImage {
    display: flex;
    justify-content: center;
    position: sticky;
}

.roundImage img {
    width: 200px;
    height: 200px;
    border: 13px solid #fdeadc;
    border-radius: 100%;
    position: absolute;
    top: -100px;
    background-color: #cae3f7;
    transform: rotate(90deg);
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

.headerText {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.valuation {
    margin-left: 24px;
    padding: 3px;
    border: 1px solid #FACAAC;
    background-color: #FACAAC;
    border-radius: 3px;
    font-weight: bold;
}

.moto {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    padding: 0 16px 48px;
    text-align: center;
}

.menuWrapper {
    display: flex;
    flex-direction: row;
}

.content {
    width: calc(100% - 300px);
    max-width: 1620px;
}

.container {
    max-width: 1920px !important;
}

.noButton {
    display: none;
}

.changeAmount {
    border: none !important;
    background: none !important;
    height: 24px !important;
    width: 24px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.form-switch {
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
}

.menuButton {
    max-height: 30px;
}

.impressum {
    background-color: #E76C1F;
    height: 128px;
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    padding-top: 72px;
    max-width: 1920px;
}

.impressum p {
    margin: 0;
}

footer nav {
    display: none;
}

footer button {
    background-color: #363534;
    height: 30px;
    width: 30px;
    border: none;
}

.buyNow {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #363534;
    width: 340px;
    height: 255px;
    border-radius: 30px;
}

.buyNow button {
    background: none;
    border: none;
    color: #FDEADC;
    position: relative;
    top: -48px;
    left: 136px;
}