header {
    max-width: 1920px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #E76C1F;
    padding: 48px 120px 24px;

}

.navbar button {
    filter: invert();
}

.navbar-toggler:hover {
    filter: brightness(3);
}

.headerImage img {
    height: 480px;
    width: 100%;
    object-fit: cover;
    object-position: 100% 25%;
    max-width: 1920px;
}

.roundImage {
    display: flex;
    justify-content: center;
    position: sticky;

}

.roundImage img {
    width: 200px;
    height: 200px;
    border: 13px solid #fdeadc;
    border-radius: 100%;
    position: absolute;
    top: -100px;
    background-color: #cae3f7;
    transform: rotate(90deg);
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight: 500;
}

.basket h2 {
    font-size: 32px;
    color: #FDEADC;
    font-weight: 500px;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

.headerText {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.valuation {
    margin-left: 24px;
    padding: 3px;
    border: 1px solid #FACAAC;
    background-color: #FACAAC;
    border-radius: 3px;
    font-weight: bold;
}

.moto {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 48px;
}

.menuWrapper {
    display: flex;
    flex-direction: row;
}

.content {
    width: calc(100% - 300px);
    max-width: 1920px;
}

.basketWrapper {
    width: 300px;
}

.basket {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    width: 300px;
    /* height: 600px; */
    border: 2px solid black;
    border-radius: 12px;
    position: sticky;
    top: 20px;
    background-color: #363534;
}

.basket button {
    width: 220px;
    height: 48px;
    background-color: #E76C1F;
    border-radius: 60px;
    margin-top: 16px;
}

.basketSum {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.basketSum td:first-child {
    padding-right: 48px;
}

.basketSum td:last-child {
    display: flex;
    justify-content: end;
}

.basketContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 16px 0;
    background-color: #FDEADC;
    width: 240px;
    border-radius: 20px;
    padding: 8px;
    font-size: 22px;
}

.basketContent td:nth-child(2) {
    display: flex;
    justify-content: end;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px 120px;
    background-color: #FACAAC;
}

.cardImage img {
    width: 200px;
    height: 120px;
    padding: 8px 8px;
    border-radius: 12px;
    position: cover;
}

.cardText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

}

.cardRight {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 8px 16px 8px 48px;
    width: 100%;
}

.cardPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: end;
    min-width: 200px;
    padding-left: 24px;
    align-items: end;
}

.container {
    max-width: 1920px !important;
}

.card button {
    background-color: #FFFFFF;
    border-radius: 20px;
}

.noButton {
    display: none;
}

.changeAmount {
    border: none !important;
    background: none !important;
    height: 24px !important;
    width: 24px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.basketAmount {
    display: flex;
    justify-content: space-between;
}

.form-switch {
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
}