.headerFoodGroups {
    font-size: 40px;
    font-weight: bold;
    background-color: #E76C1F;
    color: white;
    padding-left: 200px;
    width: calc(100% + 300px);
}

.foodGroupImage {
    width: 120px;
    position: absolute;
    margin-left: 48px;
    margin-top: -90px;
}